@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;700;800&amp;display=swap");
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined');
@import "tailwindcss";

@theme {
  --color-primary: #30e8c9;
  --color-background-dark: #11211e;
  --color-background-light: #f6f8f8;
  --color-surface: #1A2C29;
  --color-muted: #9db8b4;
  --color-subtle: #293836;
  --color-secondary: #8B5CF6;

  --font-display: "Inter", sans-serif;
  --font-landing: "Plus Jakarta Sans", sans-serif;
  --font-material-symbols: "Material Symbols Outlined";

  --radius: 0.25rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-full: 9999px;
}

@layer base {
  body {
    @apply font-display bg-background-light text-[#e0e0e0];
  }

  html.dark body {
    @apply bg-background-dark;
  }

  .material-symbols-outlined {
    font-variation-settings:
      'FILL' 0,
      'wght' 400,
      'GRAD' 0,
      'opsz' 24;
  }
}
